@import url("reset.css");

body {
  color: #000;
  background-color: #D3D3D3;
}
.wrapper {
  margin: 0 auto;
  width: 840px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

.header {
  width: 100%;
}
.center {
  display: table;
  margin: 0 auto;
}

.title {
  font-size: 35px;
  font-weight: bold;
  line-height: 43px;
  margin-right: 8px;
}

.email {
  font-size: 18px;
  line-height: 22px;
}

.cta {
  margin-left: 30px;
}

#cardWrapper {
  display: grid;
  padding: 30px;
}

.cardWrapper {
  grid-template-columns: 375px 375px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cardWrapperList {
  grid-template-columns: 800px;
  grid-row-gap: 30px;
}

.card {
  display: inline-block;
  margin: 0;
  padding: 30px;
  width: 315px;
  background-color: #FFF;
}

.list {
  width: 720px;
}

.hostName {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 23px;
}
.appInfo {
  color: #4A4A4A;
}
.appInfo .apdex {
  opacity: 62%;
  font-size: 13px;
  line-height: 19px;
  margin-right: 10px;
}

.appInfo .appName a {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #4A4A4A;
}
